<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered seat-map" title="Seat map">
      <thead>
        <tr>
          <th colspan="{{ studentCtrl.students[0].length }}">
            <img src="/assets/img/teacher-desk.png" alt="Teacher's Desk" title="Teacher's Desk"/>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="studentsRow in studentCtrl.students track by $index">
          <td ng-repeat="student in studentsRow"><div title="{{ 'Grade: ' + student.performanceGrade + ' \nHeight: ' + student.height}}">{{ student.name }}</div></td>
      </tbody>
    </table>
  </div>
</div>
